<header>
  <div class="header-logo">
  <a href="/home/top">FbApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/pictures">FbAppとは</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>Let's share HAPPY!!</h2>
    <p>思い出とことばで、つながる、えがお</p>
  </div>
</div>
