<h1>投稿一覧</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.title %></td>
    <td><%= picture.content %></td>
  </tr>
<% end %>
</table>
<%= link_to '新規投稿する', new_picture_path %>
